@model HtmxWithDotnet.Pages.VerticalMenuModel
@{
}

<div id="toReplace">
    <div class="vertical-menu" hx-target="#toReplace" hx-push-url="true" hx-swap="outerHTML">
        @foreach (var mi in Model.GetMenuItems())
        {
            <a href="@mi.Link" class="@(mi.Selected ? "active" : "")" hx-get="@mi.Link">@mi.Text</a>
        }
    </div>

    <h1>@Model.Id</h1>
</div>